{% extends 'app/base.html' %}
{% load static %}
{% block title %}Register{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="text-center">Register An Account</h3>
            <hr style="text-align:center;border-color:red;border-style: solid;border-width: 3px;">
            <form action="" method="POST" novalidate class="shadow p-5">
                {% csrf_token %}
                {% if form.non_field_errors%}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                {% endif%}
                {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-{{msg.tags}}" role="alert" style="height:50px;">
                            {{msg}}
                        </div>
                    {% endfor %}
                {% endif%}
                {% for fm in form %}
                    {{fm.label_tag}}{{fm}} <small class="text-danger"> {{fm.errors|striptags}} </small>
                    <br>
                {% endfor %}
                <input type="submit" value="submit" class="btn btn-success">
                <br>

                <div class="text-center text-primary fw-bold">
                    <small>Already have an account? <a href="{% url 'login'%}" class="text-danger">Login</a></small>
                </div>
               
                
            </form>
        </div>
    </div>
</div>

{% endblock main-content %}