{% extends 'app/base.html' %}
{% load static %}
{% block title %}password change{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class='row'>
        <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
    
        <div class="col-sm-2 border-end mt-4">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="#" class="btn btn-primary">Password Change Done</a></li>
                
            </ul>
        </div>
        <div class="alert alert-success text-center col-sm-8 offset-sm-2" role="alert">
            <h4 class="alert-heading">Password Change Successfully!</h4>
            <hr>
            <p><b><a href="{% url 'home' %}"> Please Click here to Continue Shopping</a> <b></p>
            
        </div>
    </div>
</div>
{% endblock main-content %}